{
  "semi": true,
  "bracketSpacing": true,
  "printWidth": 80,
  "tabWidth": 4,
  "useTabs": false,
  "endOfLine": "auto",
  "plugins": [
    "prettier-plugin-solidity"
  ],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse"
      }
    }
  ]
}
