.amount-of-red-input {
    background-color: #DF3428;
    color: white;
    border-color: red;
    padding-right: 10px;
}

.amount-of-green-input {
    background-color: #006900;
    color: white;
    border-color: #008F00;
    padding-right: 10px;
}

.amount-of-black-input {
    background-color: #3E3E3E;
    color: white;
    border-color: rgb(128, 128, 128);
    padding-right: 10px;
}
