button {
    background-color: #DF3428;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #B82B20;
}

button:active {
    background-color: #9F241A;
}
